<h1> Welcome to Russhole!</h1>
<h2>Jorge Cortez and Isidora Ramirez </h2>
<p>Find me in app/views/home/home_page.html.erb</p>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Index', posts_index_path %>
