<h1> Welcome to Russhole!</h1>
<h2>Jorge Cortez and Isidora Ramirez </h2>
<p>Please post if someone is being an russhole ;)</p>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Index', index_path %>
