<div class="hola col-lg-0">
	<div>
		<a href="/posts">ACA VA EL CUERPO</a>
	</div>
	<div>
		<textarea class="textarea"></textarea>
	</div>
	
	
</div>
<div class="chao col-lg-1"><a href="/super_admins">ACA VAN LOS TOP POSTS <hr></a>
<p id="prueba">QUIERO PROBAR ALGOOOO</p></div>
<div class="otro"><a href="/administrators">admins</a></div>
<a href="/dumpsters">basura</a>
<a href="/blacklists">negro</a>
<a href="/users">choros</a>
<a href="/home">home</a>
