<div class="hola">
	<a href="/posts">ACA VA EL CUERPO <br> <br> HOLA MUNDO</a>
	<textarea class="textarea"></textarea>
</div>
<div class="chao col-6"><a href="/super_admins">ACA VAN LOS TOP POSTS <hr></a>
<p id="prueba">QUIERO PROBAR ALGOOOO</p></div>
<div class="otro"><a href="/administrators">admins</a></div>
<a href="/dumpsters">basura</a>
<a href="/blacklists">negro</a>
<a href="/users">choros</a>
<a href="/home">home</a>
