<h1 style="text-align: center">Welcome to Russhole!</h1>
<h4 style="text-align: center">Join us in complaining about everything!</h4>
<% if current_user && (current_user.super || current_user.admin) %>
<%= link_to "Users", users_path %>
<% end %>
<%= render 'layouts/posts' %>
