<h1 style="text-align: center">Welcome to Russhole!</h1>
<h4 style="text-align: center">Join us in complaining about everything!</h4>
<div class="col-10">
	<button type="reset" class="[ btn btn-success ]"> <%= link_to sadmin_panel_path %>  </button>
</div>
<div class="container" >


<div class="col-12">
<%= render 'layouts/posts' %>
</div>
		

</div>
