<h1 style="text-align: center">Welcome to Russhole!</h1>
<h4 style="text-align: center">Join us in complaining about everything!</h4>
<div class="col-10">
	<% if current_user %>
		<% if current_user.super == true %>
		<button type="reset" class="[ btn btn-success ] pull-left " onclick="location.href='/sadmin_panel'"> Super Admin Panel </button>
		<% elsif (current_user.admin == true) && (current_user.super == false) %>
		<button type="reset" class="[ btn btn-success ] pull-right " onclick="location.href='/admin_panel'">Admin Panel </button>
		<% end%>
	<% end %>
</div>
<div class="container" >

<%= render 'layouts/posts' %>



</div>
