<div class="container">
	<div class="row "> 
	<h1>Posts you've liked</h1>
       <button type="reset" class="[ btn btn-primary col-12 ] pull-right " onclick="location.href='/users/<%=current_user.id%>'">Back</button>
</div>
</br>
	<% posts = current_user.get_up_voted Post %>
	<% posts.all.each do |post| %>
		  	
	<div class="card">
		  <div class="card-header">
		  	<%= post.title %> by <%= link_to post.user.username, post.user %>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= post.body %></h5>
		    <p class="card-text"></p>
		  </div>
	</div>
</br>
	<% end %>
</div>