<div class="container">	
	<h1>Manage Posts</h1>
	<% Post.all.each do |post| %>

</br>
	<div class="card">
		  <div class="card-header">
		     <%= post.title %> by <%= post.user.username %> 
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">
		    	<% if post.body == "" %>
		    		This post has no body.
		    	<% else %>
		    	<%= post.body %>
		    	<% end %>	
		    	</h5>
		    <p class="card-text">Choose wisely.</p>
		        <div class="btn-group  pull-right">
			       <a class="btn btn-primary btn-lg"  onclick="/manage_users">Delete Post</a>
			        <a href="#" class="btn btn-danger btn-lg">Move to Dumpster</a>
			        <button href="/manage_users" class="btn btn-dark  btn-lg" onclick="/manage_users">Algo
			        </button>
    			</div>
		  </div>
	</div>
    <% end %>   
    <hr>   	
</div>