<div class="container">
	<h1>Manage Users</h1>
	<% User.all.each do |user| %>

</br>
	<div class="card">
		  <div class="card-header">
		     <%= user.username %> (blacklist:<%= user.blacklist %>), 
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= user.email %></h5>
		    <p class="card-text">Choose wisely.</p>
		        <div class="btn-group  pull-right">
		        	<% if user.admin == false %>
			       <a class="btn btn-primary btn-lg"  onclick="/manage_users">Make Admin</a>
			        <% else %>
			    	<a class="btn btn-info btn-lg" onclick="/manage_users">Remove Admin</a>
			    	<% end %>
			        <a href="#" class="btn btn-danger btn-lg">Block User</a>
			        <button class="btn btn-dark  btn-lg" onclick="/manage_users"><% user.toggle(:blacklist)%>Blacklist</button>
    			</div>
		  </div>
	</div>
    <% end %>      	
</div>