<div class="container">
	<h2> Hi SuperAdmin <%= current_user.username %> :) </h2>
	<div class="[ panel panel-default ] panel-google-plus">
		<div class="container">
			<hr>
            <div class="row">
            	<div class="col">
            		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/manage_users'">Manage Users</button> <br>
            	</div>
            		
            	<div class="col">
            		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/manage_posts'">Manage Posts</button>
            	</div>
            		
            	<div class="col">
            		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/users'">Edit User</button>
            	</div>
			</div>
			<div class="row">
				 <br>
				 <hr>
			</div>
			<div class="row">
				<div class="col">
            		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/dumpster'">Dumpster</button> <br>
            	</div>
            	<div class="col">
            		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/blacklist'">Blacklist</button> <br>
            	</div>
            	<div class="col">
            		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/'">Back</button> <br>
            	</div>
			</div>
			<hr>
		</div>
	</div>
</div>